venv/
utils/__pycache__
__pycache__

# OCR Images
images/

# PyInstaller stuff
build/
dist/
AutoReroll.spec
main.spec
pyinstaller

# tesseract
Tesseract-OCR/
TesseractLib/

# deploy
deploy.bash
deploy.ps1

# test file
utils/test.py

# idea
.idea